In [1]:
# first table
people = {
    'first': ['Corey','Jane','John'],
    'last': ['Schafer','Doe','Doe'],
    'email':['CoreyMSchafer@gmail.com','JaneDoe@email.com','JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
# sort by last name
# can also sort numbers

df.sort_values(by = 'last', ascending = False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
# sort multiple columns
# pass in a list of columns to sort by
# last name will be sorted first, then the first name
# depends on order

df.sort_values(by = ['last','first'], ascending = True)

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [10]:
# if you want one in descending (last)
# the other one in ascending(first)
# pass a boolean in ascending list (Last = False, First = True)
# to make it permanent, use inplace = True

df.sort_values(by = ['last','first'], ascending = [False, True], inplace = True)

In [11]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
# set to original dataframe

df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [14]:
# if we want to see the sorted last name and not all

df['last'].sort_values()

1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

In [15]:
df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_public.csv')
schema_df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_schema.csv')

In [17]:
# sort country values
df.sort_values(by='Country',inplace = True)

In [19]:
df.head(2)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
37431,37432,I am a student who is learning to code,"Student, part-time",Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Younger than 5 years,Books / Physical media,NaN,...,Under 18 years old,"Or, in your own words:","Or, in your own words:",Straight / Heterosexual;Bisexual;Prefer to sel...,White or of European descent;I don't know;Mult...,"Or, in your own words:","Or, in your own words:",Too long,Difficult,NaN
11461,11462,I am a developer by profession,"Not employed, but looking for work",Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN

In [22]:
df['Country'].head(5)

37431    Afghanistan
11461    Afghanistan
67130    Afghanistan
62970    Afghanistan
14882    Afghanistan
Name: Country, dtype: object

In [23]:
# sort by salary reported
# check first
df[['Country','ConvertedCompYearly']].head(5)

           Country  ConvertedCompYearly
37431  Afghanistan                  NaN
11461  Afghanistan                  NaN
67130  Afghanistan                  NaN
62970  Afghanistan                  NaN
14882  Afghanistan               4200.0

In [27]:
# sort by salary in descending order

df.sort_values(by = ['Country','ConvertedCompYearly'], ascending = [True,False], inplace = True)

In [28]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
65399,65400,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Courses or Certification,7,...,35-44 years old,"Man;Non-binary, genderqueer, or gender non-con...",Yes,Bisexual;Prefer to self-describe:;Gay or Lesbi...,South Asian;Hispanic or Latino/a/x;Black or of...,I am unable to / find it difficult to walk or ...,I have a mood or emotional disorder (e.g. depr...,Too short,Difficult,30468516.0
22666,22667,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",45 - 54 years,School,5,...,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,155496.0
27198,27199,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Online Courses or Certification,3,...,25-34 years old,Man,No,Straight / Heterosexual,East Asian,Prefer not to say,Prefer not to say,Too long,Difficult,51804.0
31086,31087,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",16,...,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Too long,Neither easy nor difficult,23964.0
44640,44641,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification,7,...,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,15132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56302,56303,I am a student who is learning to code,"Student, full-time",Zimbabwe,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Books / Physical media,1,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,NaN
13194,13195,I am a developer by profession,Employed full-time,Zimbabwe,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",18,...,35-44 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Too long,Easy,NaN
80996,80997,I code primarily as a hobby,"Not employed, and not looking for work",Zimbabwe,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",Less than 1 year,...,Under 18 years old,Man,No,Straight / Heterosexual,Black or of African descent,I am blind / have difficulty seeing,None of the above,Appropriate in length,Easy,NaN
73741,73742,I am a developer by profession,"Student, part-time",Zimbabwe,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
38428,38429,I am a developer by profession,Employed full-time,Zimbabwe,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Coding Bootcamp;Other online resources (ex: vi...,10,...,25-34 years old,Woman,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN

In [29]:
# get the largest salary

df['ConvertedCompYearly'].nlargest(10)

66910    45241312.0
65399    30468516.0
40586    21822250.0
28791    20000000.0
12700    19200000.0
9608     17500000.0
5305     15000000.0
12903    14411628.0
66488    12750000.0
47563    12500000.0
Name: ConvertedCompYearly, dtype: float64

In [31]:
# if you want all the columns of convertedcompyearly

df.nlargest(10,'ConvertedCompYearly')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
66910,66911,I am a developer by profession,I prefer not to say,Belgium,NaN,NaN,Primary/elementary school,55 - 64 years,Books / Physical media,1,...,55-64 years old,NaN,Yes,NaN,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,NaN,45241312.0
65399,65400,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Courses or Certification,7,...,35-44 years old,"Man;Non-binary, genderqueer, or gender non-con...",Yes,Bisexual;Prefer to self-describe:;Gay or Lesbi...,South Asian;Hispanic or Latino/a/x;Black or of...,I am unable to / find it difficult to walk or ...,I have a mood or emotional disorder (e.g. depr...,Too short,Difficult,30468516.0
40586,40587,I am a developer by profession,Employed full-time,United States of America,California,NaN,Some college/university study without earning ...,Younger than 5 years,"Other online resources (ex: videos, blogs, etc...",37,...,35-44 years old,Man,No,Bisexual,White or of European descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,21822250.0
28791,28792,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",35 - 44 years,Coding Bootcamp;Other online resources (ex: vi...,11,...,35-44 years old,Man,No,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,Appropriate in length,Easy,20000000.0
12700,12701,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Forum,5,...,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,19200000.0
9608,9609,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,New York,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,25,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,17500000.0
5305,5306,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,New Jersey,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,Friend or family member;Books / Physical media,25,...,35-44 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Easy,15000000.0
12903,12904,I am a developer by profession,Employed full-time,Serbia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,14411628.0
66488,66489,I am a developer by profession,Employed full-time,United States of America,Washington,NaN,Some college/university study without earning ...,18 - 24 years,School;Online Courses or Certification;Books /...,5,...,25-34 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Appropriate in length,Easy,12750000.0
47563,47564,I am a developer by profession,Employed full-time,United States of America,Colorado,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,24,...,35-44 years old,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,12500000.0

In [32]:

df.nsmallest(10,'ConvertedCompYearly')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
1924,1925,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Other (please specify):,30,...,45-54 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,1.0
46464,46465,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,27,...,35-44 years old,Man,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too long,Easy,1.0
24285,24286,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,California,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,16,...,35-44 years old,Man,No,Prefer to self-describe:,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,1.0
15163,15164,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,5,...,35-44 years old,Woman,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,2.0
56790,56791,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,12,...,25-34 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,2.0
22032,22033,I am a developer by profession,Employed full-time,Republic of Korea,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,5,...,25-34 years old,Man,No,NaN,East Asian,None of the above,I have an anxiety disorder,Appropriate in length,Easy,3.0
59043,59044,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",20,...,25-34 years old,Man,No,Prefer not to say,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,3.0
22453,22454,I am a developer by profession,Employed full-time,Japan,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,"Other online resources (ex: videos, blogs, etc)",Less than 1 year,...,35-44 years old,Man,No,NaN,East Asian,None of the above,NaN,Appropriate in length,Easy,4.0
45141,45142,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,I have a mood or emotional disorder (e.g. depr...,Too long,Easy,5.0
53306,53307,I am a developer by profession,Employed full-time,Japan,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",25,...,35-44 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,5.0

In [33]:
# June 25,2022 11:16 AM